# GitHub profile username to display
NEXT_PUBLIC_GITHUB_USERNAME=0resuto

# Contact information
NEXT_PUBLIC_PHONE=+1234567890
NEXT_PUBLIC_PHONE_LINK=tel:+1234567890
NEXT_PUBLIC_EMAIL=contact@example.com

# Analytics API URL
NEXT_PUBLIC_ANALYTICS_API_URL=http://127.0.0.1:8000

# Navidrome connection details
NAVIDROME_URL=https://navidrome.example.com
NAVIDROME_USER=your_username
NAVIDROME_TOKEN=your_auth_token_hash
NAVIDROME_SALT=your_auth_salt
NAVIDROME_PLAYLIST_ID=your_playlist_id
